<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main>

    <% if (posted) { %>
    <div><p>HOI</p></div>
    <% }else{ %>
    <p>nee</p>
    <% } %>

    <section class="plant-list-container"> 
        <h2 class="plant-list-title">Onze Stekjes</h2>
        <section class="plant-list">       
            <% stekjes.forEach(stekje => { %>
            <a class="plant-link" href="/plantpage/<%= stekje.id %>">
                <% if (stekje.fotos[0]) { %>
                <img class="plant-list-image" src="<%= stekje.fotos[0].original%>" width="<%= stekje.fotos[0].width%>" height="<%= stekje.fotos[0].height%>" loading="lazy" alt="plant-image">
                <% }else{ %>
                <img class="plant-list-image" src="/assets/images/plantphoto.webp">
                <% } %>
                <h4 class="plant-list-plant-title"><%= stekje.naam %></h4>
            </a>
            <% }) %>
        </section>
        <button class="load-more-plants-button">Laad meer stekjes</button>
    </section>

    <section class="general-information">
        <section class="about-us general-information-part">
            <h3 class="about-us-title">Over ons</h3>
            <p>De Buurtcampus Oost heeft als doel Amsterdam-Oost duurzamer, inclusiever en gezonder te maken. Plant Swap Amsterdam zorgt ervoor dat plantenliefhebbers elkaar ontmoeten in de bibliotheek. Daarnaast hebben planten in huis een positief effect op je lichamelijke en geestelijke gezondheid. Veel mensen weten niet goed hoe ze voor planten moeten zorgen en kopen nieuwe als ze dood gaan. In het kader van duurzaamheid, gezondheid en meer sociale connectie, is PlantSwap Amsterdam een plek van sociale ontmoeting, waar mensen samen leren over planten.</p>
        </section>

        <section class="workshops general-information-part">
            <h3 class="workshops-title">Workshops</h3>
            <p>De eerste workshop ‘Planten stekken en verzorgen’ zal plaatsvinden in maart 2023 in de OBA Linnaeusstraat, meld je hier aan voor meer informatie en om op de hoogte te blijven.</p>
        </section>

        <section class="donate-plant general-information-part">
            <h3 class="donate-plant-title">Plantje doneren</h3>
            <p>Heb jij (net als wij) teveel planten in huis? Wij zijn super blij als je stekjes komt doneren. Je kunt ze aanmelden via de app en daarna neerzetten in de PlantSwap kast in de bieb.</p>
        </section>

        <section class="donate-plant general-information-part">
            <h3 class="donate-plant-title">Plantje doneren</h3>
            <p>Heb jij (net als wij) teveel planten in huis? Wij zijn super blij als je stekjes komt doneren. Je kunt ze aanmelden via de app en daarna neerzetten in de PlantSwap kast in de bieb.</p>
        </section>

        <section class="buurtcampus-googlemaps">
            <h3 class="buurtcampus-googlemaps-title">Locatie</h3>
            <iframe title="buurtcampus-location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.6761957784674!2d4.92404451559515!3d52.358157855963306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60976cd336d71%3A0x6610b420a3c48f0e!2sLinnaeusstraat%2044%2C%201092%20CL%20Amsterdam!5e0!3m2!1snl!2snl!4v1667915508745!5m2!1snl!2snl" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>



    </section>

</main>

<%- include('./partials/foot') %>
